<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Dennis McMeekan</strong>. I am a twenty-three year old software engineer that takes extreme pride in the work that I put out. 
                I achieved my Bachelor's Degree in Science, Computer Science, in May of 2020. And then shortly after, I achieved my Master's Degree in
                Science, Computer Science, in May of 2021. I was acknowledged as the Department of Computer Science's "Most Outstanding Graduate Student."
                I appreciate you checking out my page, and please reach out!
              </p>


              <p>
                Each and every day we have an opporunity to push towards something bigger than ourselves.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">June 30, 1998</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">dennismcmeekan@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+309 737-7812</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Iowa, United States
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
