<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2021</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Science, Computer Science</div>
               <h4 class="category">Western Illinois University
               </h4>
               <ul>
                <li> Department of Computer Science, "Most Outstanding Graduate Student"
                <li> Achieved a Grade Point Average of <b>4.0</b> out of 4.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2020</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Science, Computer Science</div>
               <h4 class="category">Western Illinois University
               </h4>
               <ul>
                <li> Achieved a Grade Point Average of <b>3.6</b> out 4.</li>
                <li> Cum Laude</li>
                <li> Dean's List: Spring 18, Fall 18, Fall 19, Spring 20</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>