<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>   
     <div class="row">
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/lip.PNG" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Lost in Peril - Indie Game</h4>
        <h5 class="card-text"><b>Technology:</b> Java (LibGDX), HTML, CSS </h5>
        <p> Software Engineering project created in collaboration with a colleague, Tim Mardesen. </p>
        <a href="https://github.com/timmay54/lost_in_peril" class="btn btn-primary stretched-link">GitHub Link</a>
      </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/webrtc.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">SecuringWebRTC - Thesis</h4>
        <h5 class="card-text"><b>Technology:</b> HTML5 and JavaScript </h5>
        <p> Graduate Thesis focused on establishing security protocols for WebRTC API.</p>
        
        <a href="https://github.com/dmcmeekan9/WebRTC-GraduateThesis" class="btn btn-primary stretched-link">GitHub Link</a>
      </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/radiostation.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Web Service Radio Station</h4>
        <h5 class="card-text"><b>Technology:</b> LAMP Stack, HTML5, CSS, Angular </h5>
        <p> A school project that used a LAMP Stack (Linux, Apache, MySQL, PHP)
          to create a simple webpage with a radio station.
        </p>
        
        <a href="https://github.com/dmcmeekan9/cs425RadioStation" class="btn btn-primary stretched-link">GitHub Link</a>
      </div>
    </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/dht.PNG" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Distributed Hash Table</h4>
        <h5 class="card-text"><b>Technology:</b> C/C++, GraphStream </h5>
        <p> School project that required implementation of a DHT Table using C/C++,
          and then making a visualization using GraphStream.
        </p>
        <a href="https://youtu.be/HZT1jH6hstM" class="btn btn-primary stretched-link">YouTube Link</a>
      </div>
    </div>
    </div>
    </div>

    </div>
    </div>
  </div>